<!-- ChatBot HTML -->
        <button class="open-button" onclick="openForm()">Open Form</button>

        <div class="form-popup" id="myForm">
            <div id="chatbox">
                <p class="botText"><span>Hi! Iam your Chatterbot.</span></p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
<!-- ChatBot HTML end -->